.info-box{
    text-align: center;
    border-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding: 1%;
    width: fit-content;
block-size: fit-content;

}

.img-box{
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    width: 60%;
    height: auto; 
}

